body{
    background-color: #f7f7f7;
}

.Parte_cima_foto{
    text-align: left;
    margin-bottom: 30px;
}
.photo{
border: 1px solid #505050;
border-radius: 50%;
width: 75px;
height: auto;
margin-top: 10px;
margin-left: 10px;

}


#title, .subtitle, .post_title {
    color: #505050;
}


#title{
font-size: 40px;
text-transform: uppercase;
margin-left: 100px;
margin-top: -60px;
}

a{
    text-decoration: line-through;
    color: #505050;
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post {
background-color: white;
padding: 10px;
border:  3px solid #505050;
margin-bottom: 15px;
border-radius: 10px;
width: 900px;
margin: auto;

}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding-left: 15pxpx;
    background-color: black;
    margin-top: 100px;
}
.contact_list li a{
    text-decoration: none;
}